.profile-stats {
  display: flex;
  gap: 1rem;

  &__card {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0.1rem;
  }

  &__icon {
    margin-bottom: 0.6rem;

    &_accent-1 {
      background-color: var(--accent-1);
    }

    &_accent-2 {
      background-color: var(--accent-2);
    }

    &_accent-3 {
      background-color: var(--accent-3);
    }
  }

  &__count {
    font-size: 1.5rem;

    &_accent-1 {
      color: var(--accent-1);
    }

    &_accent-2 {
      color: var(--accent-2);
    }

    &_accent-3 {
      color: var(--accent-3);
    }
  }

  &__description {
    font-size: 0.875rem;
  }
}
