<div class="profile-stats" *transloco="let t">
  <div tuiCardLarge tuiAppearance="floating" tuiHeader class="profile-stats__card">
    <tui-icon
      class="profile-stats__icon"
      [style.background]="'var(--accent-1)'"
      icon="@tui.trophy"
      size="xl"
      tuiBadge
    />
    <p class="profile-stats__count" tuiText [style.color]="'var(--accent-1)'">127</p>
    <p tuiTex class="profile-stats__description">
      {{ t('userProfile.statistic.gamesPlayed') }}
    </p>
  </div>

  <div tuiCardLarge tuiAppearance="floating" tuiHeader class="profile-stats__card">
    <tui-icon
      class="profile-stats__icon"
      [style.background]="'var(--accent-2)'"
      icon="@tui.star"
      size="xl"
      tuiBadge
    />
    <p class="profile-stats__count" tuiText [style.color]="'var(--accent-2)'">45,820</p>
    <p tuiTex class="profile-stats__description">
      {{ t('userProfile.statistic.score') }}
    </p>
  </div>

  <div tuiCardLarge tuiAppearance="floating" tuiHeader class="profile-stats__card">
    <tui-icon
      class="profile-stats__icon"
      [style.background]="'var(--accent-3)'"
      icon="@tui.award"
      size="xl"
      tuiBadge
    />
    <p class="profile-stats__count" tuiText [style.color]="'var(--accent-3)'">32</p>
    <p class="profile-stats__description" tuiText>
      {{ t('userProfile.statistic.achievements') }}
    </p>
  </div>
</div>
