<header class="header" *transloco="let t">
  <h2 tuiTitle>{{ t('mergeGame.title') }}</h2>

  <nav class="nav">
    <button
      tuiButton
      type="button"
      size="xs"
      appearance="outline-grayscale"
      tuiButton
      type="button"
      (click)="goToSettingsGame()"
    >
      настройка игры
    </button>

    <button
      tuiButton
      type="button"
      size="xs"
      appearance="outline-grayscale"
      tuiButton
      type="button"
      (click)="goToTheory()"
      [disabled]="
        gameService.statusGame() === 'playing' || gameService.statusGame() === 'answering'
      "
    >
      {{ t('mergeGame.navigation.theory') }}
    </button>

    <button
      tuiButton
      type="button"
      size="xs"
      appearance="outline-grayscale"
      tuiButton
      type="button"
      (click)="goToMain()"
    >
      {{ t('mergeGame.navigation.catalog') }}
    </button>
  </nav>
</header>

<main class="content">
  <router-outlet />
</main>
