:host {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hangman-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  width: 100%;
}
.header {
  background-color: inherit;
}
.logo {
  text-align: center;
}
h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--tui-color-primary);
}
p {
  font-size: 1.25rem;
  color: var(--tui-color-secondary);
}
.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  border: 3px solid rgba(236, 72, 153, 0.1);
  border-radius: 2rem;
}
.main-container img {
  border-radius: 2em;
}
.game-field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
.game-instruction {
  width: 60ch;
  text-align: center;
  background: linear-gradient(
    to right,
    rgba(139, 92, 246, 0.1),
    rgba(20, 184, 166, 0.1),
    rgba(236, 72, 153, 0.1)
  );
  box-shadow: var(--tui-shadow-small);
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 1rem;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 0.5rem 1rem;
}
.container {
  border: 2px solid var(--tui-text-tertiary);
  overflow: visible;
  min-width: 20ch;
  border-radius: 0.5rem;

  &:focus-within {
    border-color: var(--tui-background-accent-1);
  }
}

.editable {
  outline: none;
  padding: 1rem;
}
.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.row {
  display: flex;
  gap: 0.2rem;
}
