node_modules
dist
.git
.gitignore
.env
.env.*
*.md
coverage
.husky
.eslintrc.*
.prettierrc
.prettierignore
.editorconfig
.npmrc
Dockerfile
docker-compose.yml
docker-compose.*.yml
.github
.idea
.vscode
test
tests
__tests__
*.test.*
*.spec.*
tsconfig.build.json
