DOMAIN=localhost
MODE=product

PORT=4000
HOST=http://localhost
DEPLOY_URL_CORS=/\.meowvault\.netlify\.app$/

DEV_HOST=http://localhost:4200

PORT=3000
HOST=http://localhost


//Develop 
DEVELOPMENT_POSTGRES=postgresql://postgres:123456@localhost:5433/postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres

//Bcrypt
BCRYPT_SALT=10

//JWT
JWT_SECRET_KEY=sss12345678910
JWT_ACCESS_TOKEN_EXPIRE_TIME=1h
JWT_REFRESH_TOKEN_EXPIRE_TIME=7d