DOMAIN=localhost
MODE=product

PORT=4000
HOST=http://localhost
DEPLOY_URL_CORS=/^https:\/\/(deploy-preview-\d+--)?meowvault\.netlify\.app$/

DEV_HOST=http://localhost:4200

#Develop 
DEVELOPMENT_POSTGRES=postgresql://postgres:123456@localhost:5433/postgresql
POSTGRES_USER=postgres
POSTGRES_PASSWORD=123456
POSTGRES_DB=postgres

#Bcrypt
BCRYPT_SALT=10

#JWT
JWT_SECRET_KEY=<your-strong-random-secret-min-32-chars>
JWT_ACCESS_TOKEN_EXPIRE_TIME=1h
JWT_REFRESH_TOKEN_EXPIRE_TIME=7d

#Githun OAuth2

REDIRECT_FRONTEND=http://localhost:4200/
CALLBACK_URL=http://localhost:3000/auth/github/callback
GITHUB_CLIENT_ID=тут_типо_id
GITHUB_CLIENT_SECRET=тут_типо_секрет