<div class="decrypto__rules" *transloco="let t">
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules1') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules2') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules3') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules4') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules5') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules6') }}</p>
  <p class="decrypto__rules_text">{{ t('decrypto.decryptoRules7') }}</p>
</div>
