<div tuiCardLarge tuiAppearance="floating" *transloco="let t">
  <header tuiHeader="xs">
    <h2 tuiTitle>{{ t('userProfile.recentActivity.title') }}</h2>
  </header>

  @if (isStats()) {
    <div class="activity-list">
      @for (game of sortedStats(); track game.gameType) {
        <article class="activity-item" tuiCardLarge="compact" tuiHeader tuiAppearance="neutral">
          <tui-icon
            class="activity-item__icon"
            [icon]="getListItemVariant(game.gameType).icon"
            size="xl"
            tuiBadge
          />

          <div class="activity-item__content">
            <p class="activity-item__title">
              {{ t(`userProfile.${[gameTitleKeys[game.gameType]]}`) }}
            </p>
          </div>

          <div class="activity-item__time">
            {{ game.updatedAt | relativeDate: transloco.getActiveLang() }}
          </div>
        </article>
      }
    </div>
  } @else {
    <p class="no-activity-text">{{ t('userProfile.recentActivity.noActivity') }}</p>
    <img class="no-activity-image" src="assets/images/cat107.svg" alt="No recent activity" />
  }
</div>
