<div tuiCardLarge tuiAppearance="floating" *transloco="let t">
  <header tuiHeader="xs">
    <h2 tuiTitle>{{ t('userProfile.recentActivity.title') }}</h2>
  </header>

  <div class="activity-list">
    <article class="activity-item" tuiCardLarge="compact" tuiHeader tuiAppearance="neutral">
      <tui-icon
        class="activity-item__icon activity-item__icon_accent-1"
        icon="@tui.cat"
        size="xl"
        tuiBadge
      />

      <div class="activity-item__content">
        <p class="activity-item__title">{{ t('userProfile.recentActivity.game1Title') }}</p>
        <p class="activity-item__subtitle">
          {{ t('userProfile.recentActivity.game1Description') }}
        </p>
      </div>

      <div class="activity-item__time">2 {{ t('userProfile.recentActivity.game1Date') }}</div>
    </article>

    <article class="activity-item" tuiCardLarge="compact" tuiHeader tuiAppearance="neutral">
      <tui-icon
        class="activity-item__icon activity-item__icon_accent-2"
        icon="@tui.cat"
        size="xl"
        tuiBadge
      />

      <div class="activity-item__content">
        <p class="activity-item__title">{{ t('userProfile.recentActivity.game2Title') }}</p>
        <p class="activity-item__subtitle">
          {{ t('userProfile.recentActivity.game2Description') }}
        </p>
      </div>

      <div class="activity-item__time">5 {{ t('userProfile.recentActivity.game2Date') }}</div>
    </article>
  </div>
</div>
