.decrypto__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--tui-background-base-alt);
}

.decrypto__nav {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.decrypto__nav_button {
  width: 130px;
}

.decrypto__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.decrypto__inf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.decrypto__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--tui-background-base);
  color: var(--tui-text-primary);
  border-radius: 5px;
  border: 1px solid var(--tui-border-normal);
}

.decrypto__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
}
.decrypto__form_codes_label {
  margin: 0;
}

.decrypto__form_codes_inputs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.decrypto__form_codes_input {
  height: 32px;
}

.decrypto__form_number_field {
  align-items: flex-start;
  background-color: var(--tui-background-base);
}

.decrypto__form_hints {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.decrypto__form_hints_input {
  background-color: var(--tui-background-base);
}

.decrypto__form_check_button {
  width: 100%;
}

.decrypto__field {
  max-width: 550px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
