<div class="decrypto" *transloco="let t">
  <div class="decrypto__wrapper">
    <div class="decrypto__controls">
      <div class="decrypto__nav">
        <button tuiButton type="button" size="s" class="decrypto__nav_button" (click)="newGame()">
          {{ !gameStarted() ? t('decrypto.newGameBtn') : t('decrypto.stopGameBtn') }}
        </button>
        <button
          tuiButton
          type="button"
          size="s"
          class="decrypto__nav_button"
          (click)="startGame()"
          [disabled]="gameStarted()"
        >
          {{ t('decrypto.startBtn') }}
        </button>
        <button tuiButton type="button" size="s" class="decrypto__nav_button" (click)="openRules()">
          {{ t('decrypto.rulesBtn') }}
        </button>
        <button
          tuiButton
          type="button"
          appearance="secondary"
          size="s"
          class="decrypto__nav_button"
          (click)="openAllGames()"
        >
          {{ t('decrypto.allGamesBtn') }}
        </button>
      </div>
      <div class="decrypto__inf">
        <p class="decrypto__inf_attempts">
          {{ t('decrypto.gameAttempts') }}: {{ gameService.gameAttempts() }}
        </p>
        <app-timer
          [timerMode]="timerMode"
          [startValue]="initialTime"
          (finishedTimer)="checkFinishedTimer()"
        ></app-timer>
        <p class="decrypto__inf_period">
          {{ t('decrypto.gamePeriods') }}: {{ gameService.gamePeriod() }} / 3
        </p>
      </div>
    </div>
    <div class="decrypto__field">
      @if (isLoaded()) {
        <div class="decrypto__cards">
          @for (gameCard of gameService.gameCards; track $index) {
            <div class="decrypto__card">
              <button
                tuiButton
                type="button"
                class="decrypto__card_button"
                size="s"
                (click)="openCardDescription(gameCard.cardDescription, gameCard.cardName)"
                [disabled]="gameService.roundResult() === null"
              >
                <tui-icon
                  icon="@tui.circle-question-mark"
                  class="decrypto__card_button_icon"
                ></tui-icon>
              </button>
              <p class="decrypto__card_number">{{ $index + 1 }}</p>
              <p class="decrypto__card_text">{{ gameCard.cardName }}</p>
            </div>
          }
        </div>
        <form class="decrypto__form" [formGroup]="decryptoForm" (ngSubmit)="submitDecryptoForm()">
          <p class="decrypto__form_codes_heading">{{ t('decrypto.codesLabels') }}</p>
          <div class="decrypto__form_codes_inputs">
            @for (num of this.inputsIndices; track num) {
              <tui-textfield tuiTextfieldSize="s" class="decrypto__form_number_field">
                <label class="decrypto__form_codes_label" [for]="'code' + num">{{ num }}</label>
                <input
                  class="decrypto__form_codes_input"
                  [formControlName]="'code' + num"
                  tuiInputNumber
                  [id]="'code' + num"
                  [max]="4"
                  [min]="1"
                  [step]="1"
                />
              </tui-textfield>
            }
          </div>
          <p class="decrypto__form_hints_heading">{{ t('decrypto.hintsLabels') }}</p>
          <div class="decrypto__form_hints">
            @for (num of this.inputsIndices; track num) {
              <tui-textfield tuiTextfieldSize="s" class="decrypto__form_hints_field">
                <label class="decrypto__form_hints_label" [for]="'hint' + num">{{ num }}</label>
                <input
                  class="decrypto__form_hints_input"
                  [readOnly]="true"
                  tuiTextfield
                  [formControlName]="'hint' + num"
                  [id]="'hint' + num"
                />
              </tui-textfield>
            }
          </div>
          <div class="form__buttons">
            <button
              tuiButton
              size="s"
              appearance="gradient"
              type="submit"
              class="decrypto__form_check_button"
              [disabled]="
                decryptoForm.invalid ||
                decryptoForm.pristine ||
                gameService.gameResult() !== null ||
                gameService.roundResult() === true
              "
            >
              {{ t('decrypto.checkBtn') }}
            </button>
            <button
              tuiButton
              type="button"
              size="s"
              class="decrypto__form_check_button"
              (click)="newRound()"
              [disabled]="!gameService.roundResult()"
            >
              {{ t('decrypto.nextRoundBtn') }}
            </button>
          </div>
        </form>
      } @else {
        <app-loader mode="inline"></app-loader>
      }
    </div>
  </div>
</div>
