<div class="content">
  <nav class="navigation">
    <button iconStart="@tui.home" size="m" tuiButton type="button" (click)="back.emit()">
      Back
    </button>
    <button
      appearance="accent"
      iconStart="@tui.trophy"
      size="m"
      tuiButton
      type="button"
      (click)="results.emit()"
    >
      Results
    </button>
  </nav>
  <div class="main-container">
    <img src="./assets/images/hangcat.png" alt="Hangman" class="hangman-image" width="400" />
    <div class="game-field">
      <p class="game-instruction">
        Guess the word and write them in the field down! Every answer is a single word. Be careful:
        if you make 5 mistakes, the game will be over! Good luck and have fun!
      </p>
      <p>
        <span class="question">A QUESTION: </span
        ><span class="question-text">{{ currentQuestion }}</span>
      </p>
      <div class="user-field">
        <div class="user-form">
          <div class="container">
            <div class="editable">{{ displayedWord || 'your answer' }}</div>
          </div>
          <div class="keyboard">
            <div class="row">
              <button size="s" tuiButton type="button" (click)="addLetter('Q')">Q</button>
              <button size="s" tuiButton type="button" (click)="addLetter('W')">W</button>
              <button size="s" tuiButton type="button" (click)="addLetter('E')">E</button>
              <button size="s" tuiButton type="button" (click)="addLetter('R')">R</button>
              <button size="s" tuiButton type="button" (click)="addLetter('T')">T</button>
              <button size="s" tuiButton type="button" (click)="addLetter('Y')">Y</button>
              <button size="s" tuiButton type="button" (click)="addLetter('U')">U</button>
              <button size="s" tuiButton type="button" (click)="addLetter('I')">I</button>
              <button size="s" tuiButton type="button" (click)="addLetter('O')">O</button>
              <button size="s" tuiButton type="button" (click)="addLetter('P')">P</button>
            </div>
            <div class="row">
              <button size="s" tuiButton type="button" (click)="addLetter('A')">A</button>
              <button size="s" tuiButton type="button" (click)="addLetter('S')">S</button>
              <button size="s" tuiButton type="button" (click)="addLetter('D')">D</button>
              <button size="s" tuiButton type="button" (click)="addLetter('F')">F</button>
              <button size="s" tuiButton type="button" (click)="addLetter('G')">G</button>
              <button size="s" tuiButton type="button" (click)="addLetter('H')">H</button>
              <button size="s" tuiButton type="button" (click)="addLetter('J')">J</button>
              <button size="s" tuiButton type="button" (click)="addLetter('K')">K</button>
              <button size="s" tuiButton type="button" (click)="addLetter('L')">L</button>
            </div>
            <div class="row">
              <button size="s" tuiButton type="button" (click)="addLetter('Z')">Z</button>
              <button size="s" tuiButton type="button" (click)="addLetter('X')">X</button>
              <button size="s" tuiButton type="button" (click)="addLetter('C')">C</button>
              <button size="s" tuiButton type="button" (click)="addLetter('V')">V</button>
              <button size="s" tuiButton type="button" (click)="addLetter('B')">B</button>
              <button size="s" tuiButton type="button" (click)="addLetter('N')">N</button>
              <button size="s" tuiButton type="button" (click)="addLetter('M')">M</button>
            </div>
            <button appearance="accent" size="m" tuiButton type="button" (click)="reset()">
              reset
            </button>
          </div>
        </div>
        <img src="./assets/images/cat1.png" alt="cat" width="150" class="cat-image" />
      </div>
    </div>
  </div>
</div>
