.header {
  height: 60px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  padding: 0 20px;
  width: 100%;
  height: 100%;
}

.logo {
  width: 70px;
}

.logo_image {
  width: 70px;
}

.services {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: center;
  justify-self: end;
}
