<header *transloco="let t" class="header" tuiHeader tuiAppearance="secondary-grayscale">
  <div class="header__wrapper">
    <a class="logo" routerLink="/">
      <img class="logo_image" src="assets/images/logo.svg" alt="logo" />
    </a>
    <div class="services">
      <app-theme-switcher></app-theme-switcher>
      <app-language-switcher></app-language-switcher>
    </div>
    <div class="user_bar">
      @if (authService.isLoggedIn()) {
        <tui-avatar
          size="s"
          tuiAvatarOutline="var(--tui-background-accent-2)"
          class="user_bar__avatar"
          (click)="avatarClick()"
        >
          <img
            alt="user profile icon"
            [src]="userStore.user()?.avatar || 'assets/images/cat-1.png'"
          />
        </tui-avatar>
      }
      <button
        tuiButton
        appearance="gradient"
        class="user_bar__logout_button"
        type="button"
        (click)="authService.isLoggedIn() ? logOutClick() : logInClick()"
      >
        {{ authService.isLoggedIn() ? t('log-out') : t('log-in') }}
      </button>
    </div>
  </div>
</header>
