.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  gap: 1rem;
  padding-top: 1rem;
}
.main-container h1 {
  margin-bottom: 0.5rem;
}
.container {
  display: flex;
  gap: 1rem;
  align-self: center;
  :host-context(tui-root._mobile) & {
    flex-direction: column;
  }
}
.description {
  max-width: 90ch;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--tui-background-base-alt);
  box-shadow: var(--tui-shadow-small);
}
.description p {
  padding: 0.5rem 0;
  font-size: var(--tui-font-text-l);
}
.image {
  inline-size: 10rem;
  block-size: 10rem;
}

.card {
  background-color: var(--tui-background-base-alt);
  block-size: auto;
  box-shadow: var(--tui-shadow-small);
}
