<section class="settings-card" *transloco="let t">
  <header tuiHeader="body-m" class="settings-card__header">
    <div class="settings-card__header-left">
      <tui-icon icon="@tui.lock"></tui-icon>
      <h3 tuiTitle>{{ t('userProfile.accountSettings.passwordTitle') }}</h3>
    </div>

    <button
      class="settings-card__header-button"
      tuiButton
      type="button"
      size="s"
      (click)="toggleEdit(isPasswordEditMode)"
      [disabled]="userStore.isChangingPassword()"
    >
      {{
        isPasswordEditMode()
          ? t('userProfile.accountSettings.cancelButton')
          : t('userProfile.accountSettings.editButton')
      }}
    </button>
  </header>

  @if (isPasswordEditMode()) {
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" tuiCardLarge="compact" tuiForm="m">
      <tui-textfield iconStart="@tui.lock">
        <label tuiLabel for="currentPassword">{{
          t('userProfile.accountSettings.currentPasswordLabel')
        }}</label>
        <input
          formControlName="currentPassword"
          [placeholder]="t('userProfile.accountSettings.passwordPlaceholder')"
          tuiTextfield
          type="password"
          id="currentPassword"
        />
        <tui-icon tuiPassword />
      </tui-textfield>
      <tui-error [error]="getInputError('currentPassword')"></tui-error>

      <tui-textfield iconStart="@tui.lock">
        <label tuiLabel for="newPassword">{{
          t('userProfile.accountSettings.newPasswordLabel')
        }}</label>
        <input
          formControlName="newPassword"
          [placeholder]="t('userProfile.accountSettings.passwordPlaceholder')"
          tuiTextfield
          type="password"
          id="newPassword"
        />
        <tui-icon tuiPassword />
      </tui-textfield>
      <tui-error [error]="getInputError('newPassword')"></tui-error>

      <tui-textfield iconStart="@tui.lock">
        <label tuiLabel for="confirmPassword">{{
          t('userProfile.accountSettings.confirmPasswordLabel')
        }}</label>
        <input
          formControlName="confirmPassword"
          [placeholder]="t('userProfile.accountSettings.passwordPlaceholder')"
          tuiTextfield
          type="password"
          id="confirmPassword"
        />
        <tui-icon tuiPassword />
      </tui-textfield>
      <tui-error [error]="getInputError('confirmPassword')"></tui-error>

      <button
        class="settings-card__save"
        tuiButton
        type="submit"
        size="m"
        [disabled]="passwordForm.invalid || userStore.isChangingPassword()"
      >
        <tui-icon icon="@tui.save"></tui-icon>
        <span>{{ t('userProfile.accountSettings.passwordChangeButton') }}</span>
      </button>
    </form>
  } @else {
    <div class="settings-card__content">
      <p class="settings-card__hint">{{ t('userProfile.accountSettings.hint') }}</p>
    </div>
  }
</section>
